html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  


h2 {
    color: hsla(0, 100%, 50%, 0.5); /* Rojo semi-transparente */
  }


  h2 span{
    color: green;

  }

   a {
    text-transform: uppercase;
   }




.navegacion-nosotros {

  text-transform: uppercase;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;

}

.navegacion-soporte{
  text-transform: uppercase;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
  
}

.navegacion-categorias{
  text-transform: uppercase;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
}


/** Box Model**/

/**
.sobre-nosotros {
  background-color: magenta;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
padding: 300px 0px 30px 20px;
}



.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;

}


**/

/**GLOBALES**/

a{
  text-decoration: none;
  color: black;
  
  }


/**Header y navegacion**/


.nombre-sitio{
  text-align:  center;
  margin-top: 50px;
}


.navegacion-principal1{
  border-color:#e1e1e1;
  border-top-style: solid;
  border-width: 1px;
  padding: 50px 0px 30px 20px; 

}



/**
.navegacion-soporte{

  width: 500px;
  height:100px ;
 
}
**/




/** Display inline y block**/

/**  display:inline;**/
   
/**    display: block;**/

