html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  


h2 {
    color: hsla(0, 100%, 50%, 0.5); /* Rojo semi-transparente */
  }


  h2 span{
    color: green;

  }

   a {

    text-transform: uppercase;
   }

.navegacion-nosotros {

  text-transform: uppercase;
  background-color: red;
}

.navegacion-soporte{

  background-color: yellow;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
  
}

.navegacion-categorias{
  background-color: red;
  width: 200px;
  padding: 25px;
}


/** Box Model**/
.sobre-nosotros {
  background-color: magenta;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
}
.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;

}



