
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
      
   h2 span {
            color: green
        }

        section  h2 {


        }

        main h3 {
         
        }


    
        #navegacion-principal a{
            text-transform: uppercase;

        }


        .enlace  {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: #037bc0;

        }

        .color-rojo {

            color: red;
        }

        .navegacion-home a {
            text-transform: uppercase;


        }

/** Box Model**/

        .sobre-nosotros {
            background-color: magenta;
            width: 200px;
            padding: 25px;
            box-sizing: border-box;
        }
        .sobre-empresa {
            background-color: blue;
            width: 500px;
            padding: 100px;
          
        }
/**Globales**/
a {
    text-decoration: none;
    color: black;
}

.navegacion-home{

    border-color:#e1e1e1;
    border-top-style:solid ;
    border-width: 1px;
    /* border-style:solid ;

    padding-top: 20px;
    padding-bottom: 20px;
    */

    padding: 20px 0px 20px 0px; 
   /* border-top: 1px solid #e1e1e1;*/
  

}




/**Header y navegacion**/

        .nombre-sitio{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;

        }

/** Display inline y block**/

p {
    background-color: yellow;
    width: 500px;
    height:100px ;
    display: inline-block;
   
/**  display:inline;**/
   
/**    display: block;**/

}







