
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
      
   h2 span {
            color: green
        }

      
   
    
        #navegacion-principal a{
            text-transform: uppercase;

        }


        .enlace  {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: #037bc0;

        }

       

        .navegacion-home a {
            text-transform: uppercase;


        }

/** Box Model**/
/**
        .sobre-nosotros {
            background-color: magenta;
            width: 200px;
            padding: 25px;
            box-sizing: border-box;
        }
        .sobre-empresa {
            background-color: blue;
            width: 500px;
            padding: 100px;
          
        }

        **/
/**Globales**/
a {
    text-decoration: none;
    color: black;
}








/**Header y navegacion**/

        .nombre-sitio{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }

        .contenedor-navegacion{
            border-width: 1px;
            border-top-style:solid ;
            border-color:#e1e1e1;

        }

       /*Aplicando Flex Box al menu principal*/
        .navegacion-home{
            padding: 20px 0px ;
            display: flex;
            
            /*Primero Justify*/
            /*Nuestro Flex Direction por Default es row  por eso usamos justify    flex-direction: row;*/
            /*Si tenemos Flex direction Colum, se alinea con alin items*/
           /* flex-direction: column;*/
           justify-content: space-between;
           
            /* border-top: 1px solid #e1e1e1;*/
            /* border-style:solid ;
            padding-top: 20p
            */
        
        }

/** Display inline y block**/

/**  display:inline;**/
   
/**    display: block;**/
        .hero{
            background-image: url(../imagenes/ImagenesEcommerce/principal.jpg);
            height: 450px;
            background-size: cover;
        }

        .contenedorprodu{
            max-width: 1200px;

            margin-top: 0;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;

            margin: 0, auto, 0, auto;
            margin-inline: 0 auto;
        }

        /*Categorias*/

        .listado-categorias{

            display: grid;
            grid-template-columns:repeat( 3, 1fr)
           
        }
    











